{% extends "site_base.html" %}

{% block head_title %}
  About
{% endblock %}

{% block body %}
<div class="content thin">

	<section class="faq-panel">
		<header class="faq-panel-header blue">
			<h3>About the Project</small></h3>
		</header>
		<div class="clear"></div>
		<!-- &#013;&#010; -->
		<div class="faq-panel-body panel-body blue">
			<h4>Five Students</h4>
			<p>We're five students studying Computer Science at the University of Bath and as 
part of our degree, we must complete a year-long project. Thus, Shnip.it was born. We got the idea through our own needs- storing useful, small snippets of code can be a pain. Shnip.it aims to solve this problem. </p>
 
			<h4>Who wanted easy code storage and retrieval</h4>
			<p>Shnip.it is designed to make storing your code snippets easy. They can be categorised into boards, shared with your friends or contributed to by whomever you choose. You can rate them, comment on them, even favourite the ones you want to save for later. We’ve tried 
to make it as easy as possible to find your way around here, so you can get started quickly 
and get creating your own snippets.</p>


		<div class="clear"></div>
		</div>
	</section>

</div>
{% endblock %}
