{% extends "site_base.html" %}

{% block head_title %}
  Help
{% endblock %}

{% block body %}
<div class="content thin">
			
	<section class="faq-panel">
		<header class="faq-panel-header blue">
			<h3>FAQ <small>updated 04/04/13</small></h3>
		</header>
		<div class="clear"></div>
		<!-- &#013;&#010; -->
		<div class="faq-panel-body panel-body blue">
			
			<h4>What is Shnip.it?</h4>
					<p>Shnip.it is a solution we came up with to the problem of transferring snippets of code between projects. Sick of having to type that connection to a database for every website? Save it as a snippet. Have a series of HTML/CSS templates for page layouts? Save them as snippets! Whatever you want to reuse the code for, shnip.it is your answer: Portable, Quick and Clean.</p>
					<h4>Lorem Ipsum</h4>
					<p>Cras mattis iudicium purus sit amet fermentum. Fictum,  deserunt mollit anim laborum astutumque! Ut enim ad minim veniam, quis nostrud exercitation. Quo usque tandem abutere, Catilina, patientia nostra?</p>
					<h4>Lorem Ipsum</h4>
					<p>Prima luce, cum quibus mons aliud  consensu ab eo. Inmensae subtilitatis, obscuris et malesuada fames. Etiam habebis sem dicantur magna mollis euismod. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. A communi observantia non est recedendum.</p>
			
		<div class="clear"></div>
		</div>
	</section>
	
</div>
{% endblock body %}
