{% extends "site_base.html" %}

{% block head_title %}
  Help
{% endblock %}

{% block body %}
<div class="content thin">
			
	<section class="faq-panel">
		<header class="faq-panel-header blue">
			<h3>FAQ <small>updated 04/04/13</small></h3>
		</header>
		<div class="clear"></div>
		<!-- &#013;&#010; -->
		<div class="faq-panel-body panel-body blue">
			
			<h4>What is Shnip.it?</h4>
					<p>Shnip.it is a solution we came up with to solve the problem of transferring snippets of code between projects. Sick of having to type that connection to a database for every website? Save it as a snippet. Have a series of HTML/CSS templates for page layouts? Save them as snippets! Whatever you want to reuse the code for, shnip.it is your answer: Portable, Quick and Clean.</p>
					<h4>How do I make snippets?</h4>
					<p>Just hit create at the top of the page, and click Snippet! It's that simple. You then enter a title, comment and body, select a language and enter some Key Words to help you find it in the future, and hey presto, you're the owner of a brand new snippet!</p>
					<h4>So what do I do with snippets?</h4>
					<p>You can put snippets into boards to help categorise them, and invite other users to view these boards or add their own. You can rate, comment on and favourite snippets to help moderate the general populace of snippets, and you can contribute your own to the public boards section, to help other people get started using Shnip.it</p>
			
		<div class="clear"></div>
		</div>
	</section>
	
</div>
{% endblock body %}
