{% extends "site_base.html" %}

{% block head_title %}
  Team
{% endblock %}

{% block body %}
<div class="content thin">

	<section class="faq-panel">
		<header class="faq-panel-header blue">
			<h3>About the Team</small></h3>
		</header>
		<div class="clear"></div>
		<!-- &#013;&#010; -->
		<div class="faq-panel-body panel-body blue">

			<h4>Who are we?</h4>
			<p>We've five students from the University of Bath, studying Computer Science. And heck, we love it. You want to tell us anything? Just use the contact page.</p>
			
			<h4>Members of the team:</h4>
			<ul>
				<li>Jamie Warburton</li>
				<li>James Kay</li>
				<li>Freya Johnson</li>
				<li>Richard Saunders</li>
				<li>Foxin Hou</li>
			</ul>

		<div class="clear"></div>
		</div>
	</section>

</div>
{% endblock %}
