{% extends "site_base.html" %}

{% block head_title %}
  List Boards
{% endblock %}

{% block body %}
  <h2>Boards</h2>
		
		<section id="boards">
			<ul class="board-list">
				
				<li>
					<a href="{% url 'board_create' %}" class="board-box">
						<div class="box-add">
							<span class="glyphicon glyphicon-plus glyph-add"></span>
						</div>
					</a>
				</li>
				
				{% for board in boards %}
				<li>
					<a href="{{ board.get_absolute_url }}" class="board-box">
						<header>
							<span class="left count snippets">{{ board.count }}</span>
						</header>
						<h3>{{ board.name }}</h3>
					</a>
					<a href="edit-board.html" class="top-right-glyph-one glyph"><i class="fa fa-pencil"></i></a><a href="#" class="top-right-glyph-two glyph"><i class="fa fa-trash-o"></i></a>
				</li>
				{% endfor %}
			</ul>
		<div class="clear"></div>
	</section>
  

  {% include "snippets/pagination.html" with page=boards %}
{% endblock body %}
