{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}
  Create Board
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create-board.css' %}">
{% endblock %}

{% block body %}
<h2 class="page-title">Create Board</h2>
			
<section class="edit-board">
	<form id="create-board" action="" method="post">
		{{ form.as_p }}
		<header class="edit-board-header blue">
			<input class="input-title" type="text" name="title" placeholder="Board Title">
		</header>
		<div class="clear"></div>
		<!-- &#013;&#010; -->
		<div class="edit-board-body">
			<textarea class="textarea-desc" placeholder="Description of Board"></textarea>
			<select class="dropdown-privacy">
				<option value="private">Private</option>
				<option value="public">Public</option>
			</select>
			<textarea class="textarea-users" placeholder="Enter, Emails, Here"></textarea>
			
			<button name="save" type="submit" class="save-button blue">Create Board</button>
			
			<div class="clear"></div>
		</div>
		
	</form>
</section>
{% endblock body %}
