{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}
  Create Board
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create-board.css' %}">
{% endblock %}

{% block body %}
<h2 class="page-title">Create Board</h2>

			
	{% if form.errors.description %}
	<ul>
		{% for error in form.errors.description %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}

<section class="edit-board">
	<form id="create-board" action="" method="post">
		{% csrf_token %}
		<header class="edit-board-header blue">
			<input class="input-title" type="text" name="{{ form.name.name }}" placeholder="Board Title">
		</header>
		<div class="clear"></div>
		<!-- &#013;&#010; -->
		<div class="edit-board-body">
			<textarea class="textarea-desc" placeholder="Description of Board" name="{{ form.description.name }}"></textarea>
			<select class="dropdown-privacy">
				<option value="private">Private</option>
				<option value="public">Public</option>
			</select>
			<textarea class="textarea-users" placeholder="Enter, Emails, Here"></textarea>

			<button name="save" type="submit" class="save-button blue">Create Board</button>

			<div class="clear"></div>
		</div>


		{{ form.as_p }}

	</form>
</section>
{% endblock body %}
