{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}
  New Snippet
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create-snippet.css' %}">
{% endblock %}

{% block body %}
  <h2 class="page-title">Create Snippet</h2>
	<section class="edit-snippet">
		<form id="create-snippet" action="" method="post">
			{% csrf_token %}
			<header class="edit-snippet-header blue">
				<select class="select-lang" name="{{ form.language.name }}">
                    {% for value, language in form.language.field.choices %}
                        <option value="{{ value }}">{{ language }}</option>
                    {% endfor %}
				</select>
                {{ form.language.errors }}
				<input class="input-title" type="text" name="{{ form.title.name }}" placeholder="The title for your snippet">
                {{ form.title.errors }}
				<input class="input-keys" type="text" name="{{ form.tags.name }}" placeholder="key, words">
                {{ form.tags.errors }}
			</header>
			<div class="clear"></div>
			<!-- &#013;&#010; -->
			<div class="edit-snippet-body">
				<textarea class="textarea-comment" name="{{ form.description.name }}" placeholder="Write the description for your snippet here"></textarea>
                {{ form.description.errors }}
				<textarea class="textarea-body" name="{{ form.code.name }}" placeholder="This will be the body of your snippet"></textarea>
                {{ form.code.errors }}

				<button class="create-button blue" type="submit" href="#">Submit</button>
				<div class="clear"></div>
			</div>



		</form>

	</section>

{% endblock body %}
