{% extends "site_base.html" %}

{% block head_title %}
  {{ snippet.title }}
{% endblock %}

{% block body %}

	<div class="header-left snippet-title">
		<ul>
			<li><h4 class="page-title">{{ snippet.title }}</h4></li>
			<li><h5><span class="lang">{{ snippet.language }}</span> - {{ snippet.keywords }}</h5></li>
			<li><h5>Updated {{ snippet.updated }} <small>Created {{ snippet.created }}</small><h5></li>
		</ul>
	</div>
	
	<a class="user-link" href="{{ snippet.user-url }}">
		<div class="header-right">
			<div class="user-image"><img src="{{ snippet.user-image }}" width="100" height="100"></div>
			<div class="info-container">
				<ul>
					<li>
						<h4><small>Snippet by</small> {{ snippet.author }}</h4> 
					</li>
					<li>
						<h5>{{ snippet.author-title }}</h5>
					</li>
					<li>
						<h5>{{ snippet.author-sub-title }}</h5>
					</li>
				</ul>
			</div>
			
		</div>
	</a>
	
	<div class="clear"></div>
	
	<section class="edit-snippet">
			<!-- &#013;&#010; -->
			<div class="edit-snippet-body">
				<pre class="textarea-comment">{{ snippet.comment }}</pre>
				<div class="functions-right panel-blue">
					<div class="functions-square"><a href="edit-snippet.html"><i class="fa fa-pencil"></i></a></div>
					<div class="functions-square"><a href="#"><i class="function-save fa fa-save"></i></a></div>
					<div class="clear"></div>
					<div class="functions-square"><a href="#"><i class="function-trash fa fa-trash-o"></i></a></div>
					<div class="functions-square"><a href="#"><i class="function-star fa fa-star"></i></a></div>
				</div>
				<div class="clear"></div>
				<pre class="textarea-body">{{ snippet.body }}</pre>
			</div>
	</section>








  <h1>This part needs changing</h1>

  <form action="{% url 'snippet_rate' pk=snippet.pk %}" method="post">
    {% csrf_token %}

    <p>Average rating: {{ snippet.get_mean_rating }}</p>

    <ul>
    {% for rating in snippet.ratings.all %}
      <li>{{ rating.user.username }} rated this {{ rating.score }}.</li>
    {% endfor %}
    </ul>

    {% for i in snippet.get_divisions %}
      <input type="radio" name="score" value="{{ i }}">
    {% endfor %}
    <input type="submit" value="Rate">
  </form>

  <code class="language-{{ snippet.language }}">{{ snippet.code }}</code>
{% endblock body %}
