{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}
  List Snippets
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/snippet_list.css' %}">
{% endblock %}

{% block body %}

<section id="boards">

	<ul class="board-list">
	
    {% for snippet in snippets %}      
		<li>
			<a href="{{ snippet.get_absolute_url }}" class="snippet-box">
				<header>
					<span class="left lang js">{{ snippet.language }}</span>
					<span class="right count likes">{{ snippet.get_mean_rating }}</span>
				</header>
				<h3>{{ snippet.title }}</h3>
			</a>
		</li>
    {% endfor %}
	</ul>
<div class="clear"></div>
</section>

  {% include "snippets/pagination.html" with page=page_obj %}
{% endblock body %}
