{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}
  New Snippet
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create-snippet.css' %}">
{% endblock %}

{% block body %}
  <h2 class="page-title">Create Snippet</h2>
  
  {% if form.errors.description %}
	<ul>
		{% for error in form.errors.description %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
			
	<section class="edit-snippet">
		<form id="create-snippet" action="" method="post">
			{% csrf_token %}
			<header class="edit-snippet-header blue">
				<select class="select-lang" name="{{ form.language.name }}">
					<option value="js">Javascript</option>
					<option value="css">CSS</option>
				</select>
				<input class="input-title" type="text" name="{{ form.title.name }}" placeholder="The title for your snippet">
				<input class="input-keys" type="text" name="{{ form.tags.name }}" placeholder="key, words">
			</header>
			<div class="clear"></div>
			<!-- &#013;&#010; -->
			<div class="edit-snippet-body">
				<textarea class="textarea-comment" name="{{ form.desription.name }}" placeholder="Write the description for your snippet here"></textarea>
				<textarea class="textarea-body" name="{{ form.code.name }}" placeholder="This will be the body of your snippet"></textarea>
			
				
				<button class="create-button blue" type="submit" href="#">Submit</button>
				<div class="clear"></div>
			</div>
			
			
	
		</form>
		
	</section>
	
{% endblock body %}


