@import url(http://fonts.googleapis.com/css?family=McLaren);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import url(lang-brushes.css);

body {
	background-color: #e6e6e6;
}

.content {
	width: 980px;
	margin: auto;
}

.content.thin {
	width: 600px;
	margin: auto;
}

.content.very-thin {
	width: 400px;
	margin: auto;
}

.page-title {
	padding: 10px 0 5px;
}

#boards ul {
	width: 900px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#boards ul::after {
	clear: both;
	content: ",";
	display: block;
	visibility: hidden;
}

#boards ul li {
	float: left;
}

#boards ul li a:link, #boards ul li a:visited, #boards ul li a:hover, #boards ul li a:active {
	color: #555;
	text-decoration: none;
}

#boards header {
	border-bottom: 1px solid #e6e6e6;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

#boards ul li h3 {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

#boards ul li header span {
	color: #888;
	font-size: 10px;
	margin: 2px 8px 3px 8px;
}

#boards ul li p {
	margin-bottom: 0;
	text-align: left;
}

#boards ul li .box-add {
	font-size: 65px;
	line-height: 120px;
	color: #aaa;
	text-shadow: 1px 1px 1px #777;
}

#boards ul li .left {
	float: left;
}

#boards ul li .right {
	float: right;
}

.clear {
	clear: both;
}

ul.no-bullet {
	list-style: none;
}

header.green {
	height:44px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: linear-gradient(to bottom, #9dcc4f 0%, #a6da52 100%);
	text-align: center;
}

header.green h3 {
	color: #fff;
	padding-top: 6px;
}

header.green h3 small {
	color: #fff;
	padding-top: 6px;
}

button.green {
	color: #fff;
	font-size: 20px;
	font-family: 'Source Sans Pro', Consolas, Monaco, "Andale Mono", monospace;
	background: linear-gradient(to bottom, #9dcc4f 0%, #a6da52 100%);
	border-radius: 5px;
	border: 1px solid #A0CD4F;
}

input.green {
	background-color: #e8e8e8;
	color: #888;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	font-family: 'Source Sans Pro', Consolas, Monaco, "Andale Mono", monospace;
	padding: 5px 10px;
}

.green.panel-body {
	border: 1px solid #ccc;
	border-top: 0;
	background: #f1f1f1;
	margin-bottom: 50px;
	padding: 20px;
}