.profile-panel {
	background: #eee;
	border-radius: 5px;	
	border: 1px solid #c6c6c6;
	box-shadow: 0px 1px 0px #c6c6c6;
	margin: 0 auto;
	padding: 10px;
	width: 800px;
	min-height: 400px;
}

.profile-top-left {
	width: 480px;
	float: left;
}

.profile-top-right {
	width: 280px;
	float: right
}

.profile-bottom-left {
	width: 400px;
	float: left;
}

.profile-bottom-right {
	width: 280px;
	float: right;
}

.profile-image {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	overflow: hidden;
	border: 5px solid #4aa1db;
	box-shadow: 0 3px 0 #dfdfdf;
	float: left;
	vertical-align: top;
}

.profile-main-info {
	list-style: none;
	margin-left: -25px;
	float: left;
}

.profile-main-info h3 {
	margin-top: 10px;
}

.snip-count {
	border-radius: 5px;
	padding: 2px 5px;
	background-color: #84c1e9;
	display: inline;
}

.profile-main-info a {
	color: inherit;
}

.profile-main-info a .snip-count:hover {
	color: #fff;
	background-color: #333;
}

.profile-latest-snippets {
	margin: 14px 10px 0 0;
}

.profile-latest-view-all {
	float: right;
	font-size: 12px;
	margin-top: 5px;
	color: #4aa1db;
}

.profile-latest-list {
	list-style: none;
	margin-left: -40px;
}

.profile-latest-list li {
	padding: 2px 4px;
}

.profile-edit-text {
	margin-left: 42px;
}

.profile-bottom-left h5 {
	margin-left: 5px;
}

.profile-bio {
	overflow: scroll;
	width: 100%;
	height: 163px;
	display: block;
	border: 1px solid #ccc;
	background-color: #e6e6e6;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #c6c6c6;
	box-shadow: inset 1px 1px 1px #c6c6c6;
}

.a-blk:hover {
	text-decoration: none;
	color: #333;
}

.lang {
	color: #fff;
}

a:hover > .lang {
	background-color: #333;
	color: #fff;
}