.edit-snippet {
	width:900px;
	margin: 0 auto;
}

.edit-snippet-header .input-lang {
	float: left;
	font-size: 12px;
	margin: 12px 10px 0 10px;
	background-color: #bde67c;
	border-radius: 5px;
	padding: 1px 6px;
}

.edit-snippet-header .input-title {
	float: left;
	width: 380px;
	text-align: center;
	font-size: 17px;
	margin: 9px 10px 0 155px;
}

.edit-snippet-header .input-keys {
	float: right;
	width: 180px;
	text-align: right;
	font-size: 14px;
	margin: 10px 10px 0 5px;
}

.edit-snippet-header input {
	border: 1px solid #aaa;
	border-radius: 5px;
	color: #333;
	padding: 4px 10px;
}

.header-left {
	float: left;
	width: 400px;
}

.header-right {
	margin: 15px 42px 0 0;
	float: right;
	display: inline;
	width: 400px;
	height: 120px;
}

.header-right ul {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin-left: 20px;
	text-align: right;
}

.user-image {
	border-radius: 100px;
	overflow: hidden;
	border: 5px solid #8ebd40;
	box-shadow: 0px 3px 0px #DFDFDF;
	float: right;
	vertical-align: top;
	display: block;
}

.edit-snippet-body {
	border: 1px solid #ccc;
	border-top: 0;
	background: #f1f1f1;
	margin-bottom: 50px;
}

.edit-snippet-body pre {
	border: 0;
	width:100%;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 0;
	margin: 0;
}

.edit-snippet-body .textarea-comment {
	font-style: italic;
	min-height:90px;
	color: #888;
	font-family: 'Source Code Pro', Consolas, Monaco, "Andale Mono", monospace;
	height: auto;
	width: 800px;
	float: left;
}

.functions-right {
	float: left;
	border-bottom-left-radius: 5px;
}

.functions-square {
	text-align: center;
	font-size: 30px;
	width: 49px;
	height: 46px;
	float: left;
	margin: 0;
	padding: 0;
}

.functions-square a {
	color: #333;
	text-decoration: none;
}

.functions-square a:hover {
	color: #666;
}

.function-star.fav-on {
	color: #fff700;
}

.edit-snippet-body .textarea-body {
	min-height:350px;
	overflow: scroll;
	color: #111;
	font-family: 'Source Code Pro', Consolas, Monaco, "Andale Mono", monospace;
}