{% load i18n %}

<div class="content very-thin">
			
			<section class="register-panel">
				<header class="register-panel-header blue">
					<h3>Register an Account</h3>
				</header>
				<div class="clear"></div>
				<!-- &#013;&#010; -->
				<div class="register-panel-body panel-body blue">
					
					<form id="form-register" method="post" action="">
						{% csrf_token %}
						{{ form.as_p }}
					
						<input name="register" value="{% trans 'Register' %}">
					</form>
				<div class="clear"></div>
				</div>
			</section>
			
		</div>
