<!--<header>
  <a href="{% url 'shnipit.views.home' %}">Home</a>

  <form action="{% url 'snippet_list' %}" method="get">
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>

  <nav>
    <ul>
      <li><a href="{% url 'board_list' %}">Boards</a></li>
      <li><a href="{% url 'snippet_create' %}">Create</a></li>
      <li><a href="{% url 'help' %}">Help</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
  </nav>

  {% if user.is_authenticated %}
    <p>You are logged in as {{ user.username }}
      (<a href="{% url 'account_logout' %}">logout</a>)</p>
    <img src="{{ user.profile.avatar.url }}">
  {% else %}
    <p>
      <a href="{% url 'account_login' %}">Log in</a>
      /
      <a href="{% url 'account_signup' %}">Register</a>
    </p>
  {% endif %}
</header>-->

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-col">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Shnip.it </a>
	  </div>
	  
	  <div class="collapse navbar-collapse" id="nav-col">
	    <form class="navbar-form navbar-left" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search">
	      </div>
	      <button type="submit" class="btn btn-default">Go!</button>
	    </form>
	    <ul class="nav navbar-nav navbar-right">
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boards <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="my-boards.html">My Boards</a></li>
	          <li><a href="public-boards.html">Public Boards</a></li>
	          <!--<li class="divider"></li>-->
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="{% url 'snippet_create' %}">A Snippet</a></li>
	          <li><a href="{% url 'board_create' %}">A Board</a></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="{% url 'account_login' %}">Login</a></li>
	          <li><a href="{% url 'account_signup' %}">Register</a></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="{% url 'help' %}">FAQ</a></li>
	          <li><a href="{% url 'contact' %}">Contact</a></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="{% url 'about' %}">Project</a></li>
	          <li><a href="team.html">The Team</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>